@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body    {
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #333333;
    background-repeat: no-repeat;
}

.navbar {
    background-color: #333333;
    width: 100%
}

.navbar-toggler-icon    {
    color: #f8f8ff;
}

.navbar-brand   {
    color: #f9bc50;
}

nav li a {
    color: #f9bc50;
}

nav li a:hover {
    text-decoration: none;
    color: white;
}

.h1-current  {
    text-align: left;
    color: #f9bc50;
}

.parallax {

    /* Set a specific height */
    min-height: 500px;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1  {
    background-image: url("/static/img/hero.jpg");
    opacity: 0.5;
}

.parallax2  {
    background-image: url("/static/img/home.jpg");
    opacity: 0.5;
}

.current-carousel   {
    height: 500px;
    width: 100%;
    opacity: 0.5;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f9bc50;
    font-weight: bolder;
    font-size: 25px;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    color: black;
    background-color: #f9bc50;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #f9bc50;
    color: black;
}

.container-fluid  {
    background-color: #333333;
}

.copyright  {
    background-color: black;
}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f8f8ff;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #f8f8ff;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f8f8ff;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
    background-color: #f9bc50;
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f9bc50;
    text-align: center;
}

.form-style {
    color: #f9bc50;
    text-align: center;
}

b   {
    color: #f9bc50;
}

.already    {
    color: black;
}

.search-btn,
.join-btn {
    background-color: #f9bc50;
}

.card   {
    text-align: center;
}

i   {
    color: #f9bc50;
}

.copyright    {
    color: #f9bc50;
} 

.row-flashes    {
    color: #f9bc50;
}

textarea[type="text"]   {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f8f8ff;
}

textarea[type=text]:focus  {
    background-color: #f8f8ff;
    outline: none;
}

