@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

body   {
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #333333;
    background-repeat: no-repeat;
    padding-top: 60px;
    overflow-x: hidden;
    
}

/* Navbar styling */

.navbar {
    background-color: #333333 !important;
    width: 100%
}

.custom-toggler.navbar-toggler-icon  {
    border-color: #f9bc50 !important;
}

.navbar-brand   {
    color: #f9bc50 !important;
    padding-left: 5px !important;
}

nav ul a {
    color: #f9bc50 !important;
}

/* Index page styling */

h4 {
    text-align: center;
    color: #f9bc50;
}

h5  {
    text-align: center;
    color: #f9bc50;
}

.about   {
    text-align: center;
    color: #f9bc50;
}  

/* Parallax styling on index and reviews pages */

.parallax {

    /* Set a specific height */
    min-height: 500px;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1  {
    background-image: url("/static/img/hero.jpg");
    opacity: 0.7;
}

.parallax2  {
    background-image: url("/static/img/home.jpg");
    opacity: 0.7;
}

/* Place text in the middle of parallax images */

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #f9bc50;
    font-weight: bolder;
    font-size: 25px;
}

/* Styling for all form items including some buttons */

.form-style {
    color: #f9bc50;
    text-align: center;
}

/* Add padding to containers */

/*.container {
    padding: 16px;
}

/* Full-width input fields */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f8f8ff;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #f8f8ff;
    outline: none;
}

/* Overwrite default styles of hr */

hr {
    border: 1px solid #f8f8ff;
    margin-bottom: 25px;
}

/* Set a style for the all buttons */

.hero-text button,
.review-btn,
.search-btn,
.cancel-btn,
.delete-btn,
.edit-btn,
.delete-btn,
.reset-btn,
.join-btn {
    border: none;
    outline: 0;
    display: inline-block;
    color: black;
    background-color: #f9bc50;
    text-align: center;
    cursor: pointer;
    width: 150px;
}

.hero-text button:hover {
    background-color: #f9bc50;
    color: black;
}

.register-btn,
.already-btn,
.login-btn   {
    background-color: #f9bc50;
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    text-align: center;
}*/

.register-btn:hover {
    opacity: 1;
}

.cancel-btn,
.reset-btn,
.delete-btn   {
    border: none;
    outline: 0;
    display: inline-block;
    color: black;
    background-color: red;
    text-align: center;
    cursor: pointer;
}

/* Add a white text color to links */
a   {
    color: black;
}

/* Login page styling */
.signin {
    background-color: #f9bc50;
    text-align: center;
}

b   {
    color: #f9bc50;
}

/* Footer styling */

.copyright  {
    background-color: black;
    color: #f9bc50;
}

i   {
    color: #f9bc50;
}

/*Change color of flashes messages*/

h4  {
    color: #f9bc50;
}

.flashes    {
    padding-top: 40px;
}

/*Review Card styling*/

textarea[type="text"]   {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f8f8ff;
}

textarea[type=text]:focus  {
    background-color: #f8f8ff;
    outline: none;
}

.card-title {
    text-align: center;
}

.scroll-box {
    overflow-y: scroll;
    height: 300px;
    padding: 1rem;
}

.card-img-top {
    height: 600px;
}

.info-text  {
    font-size: 12px;
    text-align: center;
}

.card {
    background-color: #f9bc50;
}

/* Terms and Conditions  */

.terms  {
    text-align: center;
    color: #f9bc50;
}

/**** Media queries ****/

/* Large devices  */
@media (min-width: 992px) {
    .parallax   {
        min-height: 800px;
    }

    .card   {
        width: auto;
        
    }

    .card-img-top   {
       min-height: 800px;
    }

    .footer {
        position: fixed;
    }
}

/* Medium devices  */

@media (max-width: 991px) and  (min-width:768px)    {
    .parallax   {
        min-height: 991px;
    }
}


/* Small devices */

@media (max-width: 767px) and (min-width: 576px)    {
    .parallax   {
        min-height: 767px;
    }
    .hero-text {
        font-size: small;
    }
}

/* Extra small devices */

@media (max-width: 575px) {
    .parallax   {
        min-height: 650px;
    }
    body {
        font-size: 15px;
    }

    .hero-text  {
        font-size: 15px;
    }

    .card-img-top   {
        max-height: 300px;
    }
}