{% extends "base.html" %} 
{% block content %}
<!--Add Review Form-->

<div class="container-fluid">
    <div class="row">
        <form action="{{ url_for('add_review') }}" method="POST">
            <div class="container col-sm-12">
                <h1 class="form-style">Add Review</h1>
                <p class="form-style">Fill in the form below to add your latest review</p>
                <hr>

                <div class="row">
                    <div class="input-field col-sm-12 col-md-6">
                        <input type="text" placeholder="Title.." name="title" id="title" minlength="1" required>
                    </div>

                    <div class="input-field col-sm-12 col-md-6">
                        <input type="text" placeholder="Year.." name="year" id="year" minlength="1" required>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="input-field col-sm-12 col-md-6">

                        <input type="text" placeholder="Language.." name="language" id="language" minlength="1"
                            required>
                    </div>

                    <div class="input-field col-sm-12 col-md-6">

                        <select type="text" placeholder="Genre.." name="genre" id="genre" minlength="1" required>
                            <option value="" disabled selected hidden>Genre..</option>
                            <option value="action">Action</option>
                            <option value="comedy">Comedy</option>
                            <option value="romance">Romance</option>
                            <option value="horror">Horror</option>
                            <option value="drama">Drama</option>
                            <option value="sci-fi">Sci-Fi</option>
                            <option value="thriller">Thriller</option>
                            <option value="western">Western</option>
                            <option value="documentary">Documentary</option>
                            <option value="musical">Musical</option>
                            <option value="animation">Animation</option>
                            <option value="rom-com">Rom-Com</option>
                            <option value="adventure">Adventure</option>
                            <option value="fantasy">Fantasy</option>
                            <option value="mystery">Mystery</option>
                            <option value="martial-arts">Martial Arts</option>
                            <option value="sports">Sports</option>
                            <option value="indie">Indie</option>
                            <option value="short">Short</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="input-field col-sm-12 col-md-6">

                        <input type="text" placeholder="Director.." name="director" id="director" minlength="1"
                            required>
                    </div>

                    <div class="input-field col-sm-12 col-md-6">
                        <input type="text" placeholder="Lead Actor.." name="actors[]" id="actors" minlength="1" required>
                        <input type="text" placeholder="Actor 2.." name="actors[]" id="actors" minlength="1">
                        <input type="text" placeholder="Actor 3.." name="actors[]" id="actors" minlength="1">
                        <input type="text" placeholder="Actor 4.." name="actors[]" id="actors" minlength="1">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="input-field col-sm-12 col-md-6">

                        <select type="text" placeholder="Rating.." name="rating" id="rating" minlength="1" required>
                            <option value="" disabled selected hidden>Rating..</option>
                            <option value="u">U</option>
                            <option value="pg">PG</option>
                            <option value="12a">12a</option>
                            <option value="15">15</option>
                            <option value="18">18</option>
                        </select>
                    </div>

                    <div class="input-field col-sm-12 col-md-6">

                        <input type="text" placeholder="In mins.." name="run_time" id="run_time" minlength="1" required>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="input-field col-sm-12">
                        <label for="image"><b>Please add a valid link to an image for the movie</b></label>
                        <input type="text" placeholder="Url Link.." name="image" id="image" minlength="1" minlength="5"
                            maxlength="150"
                            pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\%$&'\(\)\*\+,;=.]+$"
                            required>
                    </div>
                </div>
                <hr>
                <div class="row review-text">
                    <div class="textarea col-sm-12">
                        <label for="review"><b>Please write your review below</b></label>
                        <textarea class="review-text" type="text" name="review" id="review" minlength="1" rows="6"
                            cols="121" placeholder="Write review here.." required></textarea>
                    </div>
                </div>
                <hr>

                <!-- Add Review Button -->

                <button type="submit" class="register-btn">Submit Review</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}