{% extends "base.html" %}
{% block content %}


    <!--Home Page-->
    <div class="container-fluid parallax parallax1">
        <div class="hero-text">
            <h1>Welcome to CritFlick</h1>
                <p>Your New Home For Movie Reviews!</p>
                <p>Become A Contributor By Clicking Below</p>
                <form method="get" action="{{ url_for('sign_up') }}">
                    <button class="join-btn btn" type="submit">Join Now!</button>
                </form>
        </div>
    </div>
    <br>

    <h4 class="h1-current">Currently Showing...</h4>
    <br>

    <!--Currently Showing Page-->
    <div class="container-fluid">
        <div class="current">
        <div class="row col-sm-12">
        
        </div>
        </div>
    </div>
    
{% endblock %}