{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="user">
                <h1 class="form-style">
                    {{ username }}'s Profile!
                </h1>
                <br>
                <form class="form-style" method="get" action="{{ url_for('add_review') }}">
                    <button class="review-btn btn" type="submit">Add Review</button>
                </form>
                <br>
            </div>
        </div>
        <h4 class="h1-current">Previous Reviews</h4>
        <br>

        {% for movie_review in reviews %}
        {% if session.user|lower == movie_review.created_by|lower %}
        <br>
        <div class="card prof-card col-sm-12">
            <img class="card-img-top prof-img" src="{{ movie_review.image }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ movie_review.title }} Review</h5>
                <p class="card-text">
                <div class="row">
                    <div class="info-text col-sm-6">
                        <p>Director: {{ movie_review.director }}</p>
                        <p>Actors: {{ movie_review.actors }}</p>
                        <p>Rating: {{ movie_review.rating }}</p>
                    </div>
                    <div class="info-text col-sm-6">
                        <p>Year of Release: {{ movie_review.year }}</p>
                        <p>Language: {{ movie_review.language }}</p>
                        <p>Run Time: {{ movie_review.run_time }}</p>
                    </div>
                </div>
                <h5>Review:</h5>
                <div class="scroll-box scroll-box-prof">
                    <p>{{ movie_review.review}}</p>
                    <p class="card-text"><small class="text-muted">Review By: {{ movie_review.reviewed_by }}</small>
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="edit">
                    <form class="form-style" method="get"
                        action="{{ url_for('edit_review', movie_review_id=movie_review._id) }}">
                        <button class="edit-btn btn form-style" type="submit">Edit Review</button>
                    </form>
                    <br>
                    <form class="form-style" method="get"
                        action="{{ url_for('delete_review', movie_review_id=movie_review._id) }}">
                        <button class="delete-btn btn form-style" type="submit">Delete Review</button>
                    </form>
                </div>
            </div>
        </div>
        <br>

        {% endif %}

        {% endfor %}
    </div>
</div>
</div>
{% endblock %}